/*
* Some generalized styling for the page
*/

body {
    text-align: center;
    font-family: Helvetica;
}

.Menu,
.Contact {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.Testimonials,
.Information,
.Footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
